<% @title = "重新发送确认邮件 - CP百科" %>
<p class="subtitle">重新发送确认邮件</p>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= label_tag '电子邮件' %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "发送", :class => 'submit_button' %></div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
