<% @title = "用户信息 - CP百科" %>
<div class="subtitle">
用户基本信息:
</div>
<table class="user_basic_info">
	<tr>
		<td>用户名:</td>
		<td><%= current_user.username %></td>
	</tr>
	<tr>
		<td>邮件:</td>
		<td><%= @user.email %></td>
	</tr>
</table>

<div class="subtitle">
已创建CP:
</div>
<div class="cps_created_by_user">
<% if @cp_entries.size != 0 %>
	<table class="cps_created_by_user_table">
		<% @cp_entries.each do |entry| %>
			<tr>
				<td class="entry_list"><a href="<%= "/cps/" + entry.id.to_s %>"><%= Character.find_by_id(entry.seme_id).name %> × <%= Character.find_by_id(entry.uke_id).name %></a></td>
				<td class="created_at"> [<%= entry.created_at.strftime("%Y-%m-%d %T") %>]</td>
			</tr>
		<% end %>
	</table>
<% else %>
	<p>还未创建CP</p>
<% end %>
</div>

<div class="subtitle">
已创建角色:
</div>
<div class="characters_created_by_user">
<% if @character_entries != nil && @character_entries.size != 0 %>
	<table class="characters_created_by_user_table">
		<% @character_entries.each do |entry| %>
			<tr>
				<td class="entry_list"><a href="<%= "/characters/" + entry.id.to_s %>"><%= entry.name %></a></td>
				<td class="created_at"> [<%= entry.created_at.strftime("%Y-%m-%d %T") %>]</td>
			</tr>
		<% end %>
	</table>
<% else %>
	<p>还未创建角色</p>
<% end %>
</div>

<div class="subtitle">
已萌CP:
</div>
<div class="cps_liked_by_user">
<% if @user_likes.size != 0 %>
	<table class="cps_liked_by_user_table">
		<% @user_likes.each do |like| %>
			<tr>
				<td class="like_list"><a href="<%= "/cps/" + Cp.find_by_id(like.cp_id).id.to_s %>"><%= Character.find_by_id(Cp.find_by_id(like.cp_id).seme_id).name %> × <%= Character.find_by_id(Cp.find_by_id(like.cp_id).uke_id).name %></a></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<p>还没有萌的CP</p>
<% end %>
</div>

<!-- <div class="subtitle">
角色草稿:
</div>
<div class="cps_liked_by_user">
<% if @draft_characters.size != 0 %>
	<table class="cps_liked_by_user_table">
		<% @draft_characters.each do |draft_chara| %>
			<tr>
				<td class="like_list"><a href="/draft_characters/<%=draft_chara.id %>/edit"><%= draft_chara.name %></a></td><td> [<%= draft_chara.updated_at.strftime("%Y-%m-%d %T") %>]</td>
			</tr>
		<% end %>
	</table>
<% else %>
	<p>没有角色草稿</p>
<% end %>
</div> -->






