<div class="subtitle">
Basic user profile:
</div>
<p>Username: <%= current_user.username %></p>
<p>Email: <%= @user.email %></p>

<div class="subtitle">
Entries created by you:
</div>
<div class="cps_created_by_user">
<% if @cp_entries.size != 0 %>
	<% @cp_entries.each do |entry| %>
		<p class="entry_list"><a href="<%= "/cps/" + entry.id.to_s %>"><%= Character.find_by_id(entry.seme_id).name %> ♥ <%= Character.find_by_id(entry.uke_id).name %></a> [<%= entry.created_at.strftime("%Y-%m-%d %T") %>]</p>
	<% end %>
<% else %>
	<p>None</p>
<% end %>
</div>

<div class="subtitle">
Entries you like:
</div>
<div class="cps_liked_by_user">
<% if @user_likes.size != 0 %>
	<% @user_likes.each do |like| %>
		<p class="like_list"><a href="<%= "/cps/" + Cp.find_by_id(like.cp_id).id.to_s %>"><%= Character.find_by_id(Cp.find_by_id(like.cp_id).seme_id).name %> ♥ <%= Character.find_by_id(Cp.find_by_id(like.cp_id).uke_id).name %></a></p>
	<% end %>
<% else %>
	<p>None</p>
<% end %>
</div>








