<% @profile_image = Photo.find_by_id(character.profile_image) %>
<% if @profile_image != nil %>
<img src="/images/<%= @profile_image.filename %>" alt="Placeholder"></img>
<% else %>
<p>No image</p>
<% end %>
<p class="character_name"><a href="/characters/<%= character.id.to_s %>"><%= character.name %></a></p>
别名：<%= character.nickname %></br>
作品：<%= character.work	%></br>
性别：<%= character.sex %></br>
生日：<%= character.birth_date %></br>
发色：<%= character.hair %></br>
瞳色：<%= character.eye %></br>
身高：<%= character.height %></br>
体重：<%= character.weight %></br>
职业：<%= character.occupation %></br>
星座：<%= Character::HOROSCOPE[character.horoscope][0] %></br>
血型：<%= Character::BLOODTYPE[character.blood_type][0] %></br>
