<p>搜索<%= params[:chara] %>的结果：</p>
<% results = @chara %>
<% radio_name = "new_chara" %>
<% i = 0 %>
<% for result in results %>
	<% checked = i == 0 ? true : false %>
	<%= radio_button_tag(radio_name, result.id, checked) %>
	<%= render(:partial => "snippet", :locals => {:character => result}) %>
	<% i = i + 1 %>
<% end %>
<p>
	<%= radio_button_tag(radio_name, "nil", checked = results.size == 0 ? true : false) %>
	<%= label_tag :label, "New character" %>
</p>