<p class="subtitle">创建新角色</p>
<% if flash[:error] %>
  <div><span class="error_msg"><%= flash[:error] %></span></div>
<% end %>
<p class="create_new_chara_name_notice">请输入您要创建的角色姓名：</p>
<%= form_tag("/characters/search", :method => "get") %>
<table>
	<tr>
		<td><%= label_tag(:chara, "角色名：") %></td>
		<td><%= text_field_tag(:chara) %></td>
	</tr>
	<tr>
		<td><%= submit_tag "提交", :class => "submit_button" %></td>
	</tr>
</table>

<img class="mascot_red" src="/cpwiki_masukouto_red.png"></img>
<img class="mascot_blue" src="/cpwiki_masukouto_blue.png"></img>