<% @title = "编辑角色 - CP百科" %>
<p class="subtitle">编辑角色: <%=@character.name %></p>
<% @character.errors.full_messages.each do |msg| %>
    <div><span class="error_msg"><%= msg %></span></div>
<% end %>
<div id="profile-image-form">
	<form accept-charset=\"UTF-8\" action="/photos/update_profile_image" class="new_profile_image" data-remote="true" enctype="multipart/form-data" id="new_profile_image" method="post">
		<label for="profile_image">角色头像:</label>
	    <% if @profile_image %>
	      	<img id="img_profile_image" class="resize" src="<%= "/images/#{@profile_image.filename}" %>" alt="未找到文件"></img>
	    <% else %>
	        <span id="no_profile_image">尚未添加头像</span>
	    <% end %>
		<input type="file" name="profile_image" id="profile_image" value="" />
		<input name="commit" id="commit" type="submit" value="上传头像" class="submit_button">
    </form>
</div>
<%= form_for @character, url: character_path(@character.id), method: :put do |form| %>
	<table>
	    <tr>
	      <td><%= form.label(:name, "姓名:")%></td>
		  <td><%= form.text_field :name, :class => 'input_text_field', :id => 'chara_name' %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:nickname, "别名:")%></td>
	      <td><%= form.text_field :nickname, :class => 'input_text_field', :id => 'chara_nickname' %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:work, "出自作品:")%></td>
	      <td><%= form.text_field :work, :class => 'input_text_field', :id => 'chara_work' %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:birth_date, "生日:")%></td>
	      <td><%= form.text_field :birth_date, :class => 'input_text_field', :id => 'chara_birth_date' %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:sex, "性别:")%></td>
		  <td>
			  <select name="normal_sex" id="normalSex">
				    <option value="男">男</option>
				    <option value="女">女</option>
				    <option value="不明">不明</option>
				    <option value="其他">其他</option>
					</select>
			  <span id="otherSexType" style="display:none;">
				  <input id="otherSex" type="text" name="sex" placeholder="请指定性别"/>
				</span>
		  </td>
	    </tr>
	    <tr>
	      <td><%= form.label(:horoscope, "星座:")%></td>
	      <td><%= form.select(:horoscope, Character::HOROSCOPE, {}, :id => :chara_horoscope) %>
		  </td>
	    </tr>
	    <tr>
	      <td><%= form.label(:blood_type, "血型:")%></td>
	      <td><%= form.select(:blood_type, Character::BLOODTYPE, {}, :id => :chara_blood_type) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:occupation, "职业:")%></td>
	      <td><%= form.text_field(:occupation, :class => 'input_text_field', :id => 'chara_occupation') %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:height, "身高:")%></td>
	      <td><%= form.text_field(:height, :class => 'input_text_field', :id => 'chara_height') %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:weight, "体重:")%></td>
	      <td><%= form.text_field(:weight, :class => 'input_text_field', :id => 'chara_weight') %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:eye, "瞳色:")%></td>
	      <td><%= form.text_field(:eye, :class => 'input_text_field', :id => 'chara_eye') %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:hair, "发色:")%></td>
	      <td><%= form.text_field(:hair, :class => 'input_text_field', :id => 'chara_hair') %></td>
	    </tr>
	    <tr>
	      <td><%= form.hidden_field(:profile_image) %></td>
	    </tr>
	</table>
	<div>
		<%= form.label(:summary, "简介:")%>			
		<%= render "shared/editor" %>
	</div>
  <%= form.hidden_field :summary %>
  <%= form.hidden_field :sex %>
  <!-- redirecting back to cp if editing request originates from a cp/show page -->
  <% if params[:fromcp] %>
  	<%= hidden_field_tag :fromcp, params[:fromcp] %>
  <% end %> 
  <%= submit_tag "更新", :class => "submit_button" %>
<!--   <button type="button" id="save_draft">保存</button> -->
<% end %>

<script type="text/javascript">
	var editor = $(".edit_area")[0];
	var initialText = "";
	<% if @character.summary != nil && !@character.summary.empty? %>
		initialText = '<%= formatted(@character.summary) %>';
	<% end %>
	myEditor.makeEditor(editor, initialText);
	// Put html source into hidden text area before submit
	$(".edit_character").submit( function() {
		console.log("before submit");
		$("#character_summary").val(editor.innerHTML);
		console.log($("#character_summary").val());

		// change for character sex
		if($('#normalSex').val() != '男' && $('#normalSex').val() != '女' && $('#normalSex').val() != '不明') {
			$("#character_sex").val($('#otherSex').val());
		} else {	
			$("#character_sex").val($('#normalSex').val());
		}
	});
</script>
<input type="hidden" id="current_user" value=<%= current_user.id %> />
<input type="hidden" id="saved_filename" value="" />
 
<% if params[:fromcp] == nil %>
	<%= link_to '<<返回', character_path(@character.id), :class => 'edit_back_button' %>
<% else %>
	<%= link_to '<<返回', cp_path(params[:fromcp]), :class => 'edit_back_button' %>
<% end %>

<script>
// select correct sex
$("select#normalSex").each(function() { 
	var sex = '<%= @character.sex %>';
	console.log("currenct sex is " + sex);
	console.log("currenct text is " + $("select#normalSex").val());
	if(sex != '男' && sex != '女' && sex != '不明') {
		$("#otherSexType").show();
		$('#normalSex option[value=其他]').prop('selected', true);
		$("#otherSex").val(sex);
	} else {
		$('#normalSex option[value=' + sex + ']').prop('selected', true);
	}
});

// change type of sex in selection box
$('#normalSex').on('change',function(){
	  console.log("i'm in changing sex type");
    var selection = $(this).val();
    console.log("selection is: "+ selection);
    switch(selection){
	    case "其他":
	    	$("#otherSexType").show();
	    break;
	    default:
	    	$('#otherSex').val("");
	    	$("#otherSexType").hide();
    }
});

// warn user when user leave this page except submitting the form
$('input[name=commit]').click(function() {
  window.submit_button_clicked = true;
});

$(window).bind('beforeunload', function(){
	if(!window.submit_button_clicked){
  	return '确定要离开此创建页面?';
  }
});

// add new comment
$(document).ready(function(){
  	$("button#save_draft").click(function(){
  		var name = $('#chara_name').val();
  		var nickname = $('#chara_nickname').val();
  		var sex = $('chara_sex').val();
  		var birth_date = $('#chara_birth_date').val();
  		var horoscope = $('#chara_horoscope').val();
  		var blood_type = $('#chara_blood_type').val();
  		var hair = $('#chara_hair').val();
  		var eye = $('#chara_eye').val();
  		var height = $('#chara_height').val();
  		var weight = $('#chara_weight').val();
  		var occupation = $('#chara_occupation').val();
  		var work = $('#chara_work').val();
  		var index = <%= params[:id] %>;

  		console.log("before submit");
			$("#character_summary").val(editor.innerHTML);
			console.log("summary is " + $("#character_summary").val());

			// change for character sex
			if($('#normalSex').val() != '男' && $('#normalSex').val() != '女' && $('#normalSex').val() != '不明') {
				$("#character_sex").val($('#otherSex').val());
			} else {	
				$("#character_sex").val($('#normalSex').val());
			}

  		console.log("name is ->" + name);
  		console.log("nickname is ->" + nickname);
  		console.log("birth is ->" + birth_date);
  		console.log("hair is ->" + hair);
  		console.log("eye is ->" + eye);
  		console.log("height is ->" + height);
  		console.log("weight is ->" + weight);
  		console.log("occupation is ->" + occupation);
  		console.log("work is ->" + work);
  		console.log("sex is ->" + sex);
  		console.log("bloodtype is ->" + blood_type);
  		console.log("horoscope is ->" + horoscope);
  		console.log("sex is ->" + $("#character_sex").val());

  	// 	// check whether the comment is empty
  	// 	if(cmt == "") {
  	// 		$("#comment_error_msg").text("评论不能为空！");
  	// 	} else {
  	// 		$("#comment_error_msg").text("");
	  //   	console.log("start ajax");

	  //   	var username = '<%= current_user.username %>';
	  //   	var index = <%= params[:id] %>;
	    var currentdate = new Date(); 
			var create_time = currentdate.getFullYear() + "-"
	                + ("0" + (currentdate.getMonth() + 1)).slice(-2) + "-" 
	                + ("0" + currentdate.getDate()).slice(-2) + " "  
	                + currentdate.getHours() + ":"  
	                + currentdate.getMinutes() + ":" 
	                + currentdate.getSeconds();

	  //   console.log("user id in js is " + username);
	  //   console.log("index in js is  " + index);
	  //   console.log("create time is " + create_time);

	    $.ajax({
		    type: "POST",
		    url: "/draft_characters",
		    dataType: "html",
		    data: "character_id=" + index + "&name=" + name + "&create_time=" + create_time + "&name=" + name + "&nickname=" + nickname + "&birth_date=" + birth_date + "&hair=" + hair + "&eye=" + eye + "&height=" + height + "&weight=" + weight + "&occupation=" + occupation + "&work=" + work + "&horoscope=" + horoscope + "&blood_type=" + blood_type + "&sex=" + $("#character_sex").val() + "&summary=" + $("#character_summary").val(),
		    success: function(){
		    //   $('#new_comment').append('&gt;&gt; ' + cmt + ' - ' + username + ' [' + create_time + ']' + '</br>');
		    //   // resume chars limit to 255
		    //   $('input#limit_chars_countdown').val('255');
		    //   // show success msg
				  // $('#comment_result').flash_message({
				  //   text: '评论成功!',
				  //   how: 'append',
			   //      class_name: 'flash_message_success'
				  // });
				  // // clear the text area after successful submit
				  // $('textarea#comment_area').val('');
		     },
		     error: function(){
		   //   	// show fail msg
		   //   	 $('#comment_result').flash_message({
				 //    text: '评论失败!',
				 //    how: 'append',
			  //       class_name: 'flash_message_fail'
				 //   });
				 // $('textarea#comment_area').val(cmt);
				 	alert("failed");
		     }
			});

	  // }
  });
});
</script>














