<%= form_for @character, url: character_path(@character.id), method: :put do |form| %>
	<% if @character.errors.any? %>
	<div id="errorExplanation">
    	<h2><%= pluralize(@character.errors.count, "error") %> prohibited
      	  this character from being saved:</h2>
    	<ul>
    	<% @character.errors.full_messages.each do |msg| %>
      	  <li><%= msg %></li>
    	<% end %>
    	</ul>
  	</div>
  	<% end %>
	<table>
	    <tr>
	      <td><%= form.label(:name, "姓名:")%></td>
		  <td><%= form.text_field :name %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:nickname, "别名:")%></td>
	      <td><%= form.text_field :nickname %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:birth_date, "生日:")%></td>
	      <td><%= form.text_field :birth_date %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:sex, "性别:")%></td>
		  <td>
			  <%= form.select(:sex, [["男", "男"], ["女", "女"], ["不明", "不明"], ["其他", "其他"]]) %>
		  </td>
	    </tr>
	    <tr>
	      <td><%= form.label(:horoscope, "星座:")%></td>
	      <td><%= form.select(:horoscope, Character::HOROSCOPE) %>
		  </td>
	    </tr>
	    <tr>
	      <td><%= form.label(:blood_type, "血型:")%></td>
	      <td><%= form.text_field(:blood_type) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:occupation, "职业:")%></td>
	      <td><%= form.text_field(:occupation) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:height, "身高:")%></td>
	      <td><%= form.text_field(:height) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:weight, "体重:")%></td>
	      <td><%= form.text_field(:weight) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:eye, "瞳色:")%></td>
	      <td><%= form.text_field(:eye) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:hair, "发色:")%></td>
	      <td><%= form.text_field(:hair) %></td>
	    </tr>
	</table>
	<div>
		<%= form.label(:summary, "简介:")%>			
		<%= render "shared/editor" %>
	</div>
  <%= form.hidden_field :summary %>
  <%= form.submit %>
<% end %>

<script type="text/javascript">
	var editor = $(".edit_area")[0];
	var initialText = "";
	<% if @character.summary != nil && !@character.summary.empty? %>
		initialText = <%= @character.summary %>;
	<% end %>
	myEditor.makeEditor(editor, initialText);
	// Put html source into hidden text area before submit
	$(".edit_character").submit( function() {
		console.log("before submit");
		$("#character_summary").val(editor.innerHTML);
		console.log($("#character_summary").val());
	});
</script>
<input type="hidden" id="current_user" value=<%= current_user.id %> />
<input type="hidden" id="saved_filename" value="" />
 
<%= link_to 'Back', characters_path %>