<div class="create_cp_nav_bar">
<% if !(session[:seme] == nil && session[:uke] == nil) %>
	<%= render(:partial => "shared/create_navbar", :locals => {:step => 2, :step_names => ["输入角色姓名  ", "填写角色信息  ", "填写CP信息  "]}) %>
<% end %>
</div>

<% @character.errors.full_messages.each do |msg| %>
  <div><span class="error_msg"><%= msg %></span></div>
<% end %>
<% if flash[:errors] != nil %>
	<div><span class="error_msg"><%= flash[:errors] %></div>
<% end %>

<div class="create_new_chara_notice">
<% if session[:seme] == "nil" && session[:uke] == "nil" %>
创建小攻:
<% elsif session[:uke] == "nil" && session[:seme] != "nil" %>
创建小受:
<% elsif session[:seme] == "nil" && session[:uke] != "nil" %>
创建小攻:
<% else %>
创建新角色:
<% end %>
</div>
<div id="profile-image-form">
	<form accept-charset=\"UTF-8\" action="/photos/update_profile_image" class="new_profile_image" data-remote="true" enctype="multipart/form-data" id="new_profile_image" method="post">
		<label for="profile_image">角色头像:</label>
	    <% if @profile_image %>
	      	<img id="img_profile_image" class="resize" src="<%= "/images/#{@profile_image.filename}" %>" alt="File not found"></img>
	    <% else %>
	        <span id="no_profile_image">尚未添加头像</span>
	    <% end %>
		<input type="file" name="profile_image" id="profile_image" value="" />
		<input name="commit" id="commit" type="submit" value="Upload">
    </form>
</div>
<div>
	<%= form_for(@character, :url => {:action => :create}) do |form| %>
	  <table class="character">
	    <tr>
	      <td><%= form.label(:name, "姓名:")%></td>
	      <% if (session[:seme] == nil && session[:uke] == nil) %>
	      	<td><%= form.text_field(:name, :value => session[:new_chara_name], :class => 'input_text_field') %></td>
	      <% elsif (session[:seme] == "nil" && session[:uke] == "nil") %>
	        <td><%= form.text_field(:name, :value => session[:name1], :class => 'input_text_field') %></td>
	      <% elsif (session[:seme] == "nil" && session[:uke] != "nil") %>
	        <td><%= form.text_field(:name, :value => session[:name1], :class => 'input_text_field') %></td>
	      <% else %>
	      	<td><%= form.text_field(:name, :value => session[:name2], :class => 'input_text_field') %></td>
	      <% end %>
	    </tr>
	    <tr>
	      <td><%= form.label(:nickname, "别名:")%></td>
	      <td><%= form.text_field(:nickname, :class => 'input_text_field') %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:work, "出自作品:")%></td>
	      <td><%= form.text_field(:work, :class => 'input_text_field') %></td>
	    </tr>
	    <tr>
	    	<td><%= form.label(:birth_date, "生日:")%></td>
	      <td><%= form.text_field(:birth_date, :class => 'input_text_field') %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:sex, "性别:")%></td>
	      <td>
				<select name="normal_sex" id="normalSex">
					<option value="男">男</option>
					<option value="女">女</option>
					<option value="不明">不明</option>
					<option value="其他">其他</option>
				</select>
				<span id="otherSexType" style="display:none;">
					<input id="otherSex" class="input_text_field" type="text" name="sex" placeholder="请指定性别"/>
				</span>
			  </td>	
	    </tr>
	    <tr>
	      <td><%= form.label(:horoscope, "星座:")%></td>
	      <td><%= form.select(:horoscope, Character::HOROSCOPE) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:blood_type, "血型:")%></td>
	      <td><%= form.select(:blood_type, Character::BLOODTYPE) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:occupation, "职业:")%></td>
	      <td><%= form.text_field(:occupation, :class => 'input_text_field') %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:height, "身高:")%></td>
	      <td><%= form.text_field(:height, :class => 'input_text_field') %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:weight, "体重:")%></td>
	      <td><%= form.text_field(:weight, :class => 'input_text_field') %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:eye, "瞳色:")%></td>
	      <td><%= form.text_field(:eye, :class => 'input_text_field') %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:hair, "发色:")%></td>
	      <td><%= form.text_field(:hair, :class => 'input_text_field') %></td>
	    </tr>
	    <tr>
	      <td><%= form.hidden_field(:profile_image) %></td>
	    </tr>
	</table>
	<br />
	<div>
		<%= form.label(:summary, "简介:")%>			
		<%= render "shared/editor" %>
	</div>
	<%= form.hidden_field :sex %>
	<%= hidden_field_tag :summary %>
	<%= submit_tag "提交", :class => "submit_button" %>
	<% end %>
</div>

<script type="text/javascript">
	var editor = $(".edit_area")[0];
	myEditor.makeEditor(editor, "");
	// Put html source into hidden text area before submit
	$("#new_character").submit( function() {
		$("#summary").val(editor.innerHTML);
	});
</script>
<input type="hidden" id="current_user" value=<%= current_user.id %> />
<input type="hidden" id="saved_filename" value="" />
<!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script-->
<!--script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script-->

<script>
$(".new_character").submit( function() {
	if($('#normalSex').val() != '男' && $('#normalSex').val() != '女' && $('#normalSex').val() != '不明') {
		$("#character_sex").val($('#otherSex').val());
	} else {	
		$("#character_sex").val($('#normalSex').val());
	}
});

// change type of sex in selection box
$('#normalSex').on('change',function(){
    var selection = $(this).val();
    switch(selection){
	    case "其他":
	    	$("#otherSexType").show();
	    break;
	    default:
	    	$('#otherSex').val("");
	    	$("#otherSexType").hide();
    }
});

// change sex type to others and specify by user input
$(document).ready(function() {
   $('#otherSex').keyup(function () { 
   });
});

// warn user when user leave this page except submitting the form
$('input[name=commit]').click(function() {
  window.submit_button_clicked = true;
});

$(window).bind('beforeunload', function(){
	if(!window.submit_button_clicked){
  	return '确定要离开此创建页面?';
  }
});

$(window).unload(function(){
	$.session.remove("seme");
  $.session.remove("uke");
  $.session.remove("new_chara_name");
});


</script>
