<%= render(:partial => "create_navbar", :locals => {:step => 2, :step_names => ["输入角色姓名", "填写角色信息", "填写CP信息"]}) %>

<div>
<% if session[:seme] == "nil" && session[:uke] == "nil"%>
Create Seme Character:
<% elsif session[:uke] == "nil" && session[:seme] != "nil" %>
Create Uke Character:
<% elsif session[:seme] == "nil" && session[:uke] != "nil" %>
Create Seme Character:
<% else %>
<% redirect_to :controller => :cps, :action => :new %>
<% end %>
</div>

<div>
	<%= form_for(@character, :url => {:action => :create}) do |form| %>
	  <table class="character">
	    <tr>
	      <td><%= form.label(:name, "姓名:")%></td>
	      <td><%= form.text_field(:name) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:nickname, "别名:")%></td>
	      <td><%= form.text_field(:nickname) %></td>
	    </tr>
	    <tr>
	    	<td><%= form.label(:birth_date, "生日:")%></td>
	      <td><%= form.text_field(:birth_date) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:sex, "性别:")%></td>
<!-- 	      <td><%= form.text_field(:sex) %></td> -->
<!-- 	      <td><input type="radio" name="sex" value="男" checked="checked" />男
				<input type="radio" name="sex" value="女" />女
				<input type="radio" name="sex" value="不明" />不明
				<input type="radio" name="sex" value="其他" />其他</td> -->
				<!-- <td><%= form.select(:sex,
			   [['男', 0], ['女', 1], ['不明', 2], ['其他', 3]]) %></td>
			  <td> -->
			  <td>
					<select name="sex" id="sex_type">
				    <option value="男">男</option>
				    <option value="女">女</option>
				    <option value="不明">不明</option>
				    <option value="其他">其他</option>
					</select>
					<span id="otherSexType" style="display:none;">
					  <input id="otherSex" type="text" name="sex" placeholder="请指定性别"/>
				  </span>
			  </td>	
	    </tr>
	    <tr>
	      <td><%= form.label(:horoscope, "星座:")%></td>
	      <td><%= form.select(:horoscope,
			   [['白羊座', 0], ['金牛座', 1], ['双子座', 2], ['巨蟹座', 3],
			   ['狮子座', 4], ['处女座', 5], ['天秤座', 6], ['天蝎座', 7], ['射手座', 8],
			   ['摩羯座', 9], ['水瓶座', 10], ['双鱼座', 11]]) %>
		  </td>
	    </tr>
	    <tr>
	      <td><%= form.label(:blood_type, "血型:")%></td>
	      <td><%= form.text_field(:blood_type) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:occupation, "职业:")%></td>
	      <td><%= form.text_field(:occupation) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:height, "身高:")%></td>
	      <td><%= form.text_field(:height) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:weight, "体重:")%></td>
	      <td><%= form.text_field(:weight) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:eye, "瞳色:")%></td>
	      <td><%= form.text_field(:eye) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:hair, "发色:")%></td>
	      <td><%= form.text_field(:hair) %></td>
	    </tr>
	    <tr>
	    	<td><%= form.label(:summary, "简介:")%></td>
	      <td><%= form.text_area(:summary) %></td>
	    </tr>
	  <table>
	  <%= submit_tag "提交" %>
	<% end %>	
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>‌​
<script>
// change type of sex in selection box
$('#sex_type').on('change',function(){
	  console.log("i'm in changing sex type")
    var selection = $(this).val();
    switch(selection){
	    case "其他":
	    $("#otherSexType").show()
	    break;
	    default:
	    $("#otherSexType").hide()
    }
});

// change sex type to others and specify by user input
$(document).ready(function() {
   $('#otherSex').keyup(function () { 
   		console.log("in sex textfield change");
   		$("#sex_type").val($(this).text());
   });
});


</script>








