<div>
	<%= form_for(:characters, :url => {:action => :create}) do |form| %>
	  <table class="character">
	    <tr>
	      <td><%= form.label(:name, "姓名:")%></td>
	      <td><%= form.text_field(:name) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:nickname, "别名:")%></td>
	      <td><%= form.text_field(:nickname) %></td>
	    </tr>
	    <tr>
	    	<td><%= form.label(:birth_date, "生日:")%></td>
	      <td><%= form.text_field(:birth_date) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:sex, "性别:")%></td>
	      <td><%= form.text_field(:sex) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:horoscope, "星座:")%></td>
	      <td><%= form.text_field(:horoscope) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:blood_type, "血型:")%></td>
	      <td><%= form.text_field(:blood_type) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:occupation, "职业:")%></td>
	      <td><%= form.text_field(:occupation) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:height, "身高:")%></td>
	      <td><%= form.text_field(:height) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:weight, "体重:")%></td>
	      <td><%= form.text_field(:weight) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:eye, "瞳色:")%></td>
	      <td><%= form.text_field(:eye) %></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:hair, "发色:")%></td>
	      <td><%= form.text_field(:hair) %></td>
	    </tr>
	    <tr>
	    	<td><%= form.label(:summary, "简介:")%></td>
	      <td><%= form.text_area(:summary) %></td>
	    </tr>
	  </table>
	  <%= submit_tag "提交" %>
	<% end %>

	
</div>