<p class="character_name"><%= character.name %></p>
别名：<%= character.nickname %></br>
性别：<%= character.sex ? "男" : "女" %></br>
生日：<%= character.birth_date %></br>
发色：<%= character.hair %></br>
瞳色：<%= character.eye %></br>
身高：<%= character.height %></br>
体重：<%= character.weight %></br>
职业：<%= character.occupation %></br>
星座：<%= character.horoscope %></br>
血型：<%= character.blood_type %></br>
