<p>搜索<%= character == 1 ? params[:name1] : params[:name2] %>的结果：</p>
<% results = character == 1 ? @character1 : @character2 %>
<% radio_name = character == 1 ? "character1" : "character2" %>
<% i = 0 %>
<% for result in results %>
	<p>
		<% checked = i == 0 ? true : false %>
	    <%= radio_button_tag(radio_name, result.id, checked) %>
		<%= label_tag :label, result.name %>
	</p>
	<% i = i + 1 %>
<% end %>
<p>
	<%= radio_button_tag(radio_name, "nil") %>
	<%= label_tag :label, "New character" %>
</p>