<div>
<%= form_for @cp, url: cp_path(@cp.id), method: :put do |form| %>
	<% @cp.errors.full_messages.each do |msg| %>
  	  <div><span class="error_msg"><%= msg %></span></div>
	<% end %>
	<table>
	    <tr>
	      <td><%= form.label(:acronym, "简称:")%></td>
		  <td><%= form.text_field :acronym , :class => 'input_text_field'%></td>
	    </tr>
	    <tr>
	      <td><%= form.label(:category, "作品类别:")%></td>
		  <td>
			  <%= form.select(:category, Cp::CATEGORY) %>
		  </td>
	    </tr>
    	<tr>
	      <td><%= label_tag(:summary, "简介:")%></td>
	      <td><%= text_area_tag(:summary, nil, :class => 'input_text_area') %></td>
	    </tr>
	</table>
	<div>
		<%= form.label(:wiki_content, "JQ档案:")%>			
		<%= render "shared/editor" %>
	</div>
  <%= form.hidden_field :wiki_content %>
  <%= submit_tag "更新", :class => "submit_button" %>
<% end %>
</div>

<script type="text/javascript">
	var editor = $(".edit_area")[0];
	var initialText = "";
	<% if @cp.wiki_content != nil && !@cp.wiki_content.empty? %>
		initialText = '<%= formatted(@cp.wiki_content) %>';
	<% end %>
	myEditor.makeEditor(editor, initialText);
	// Put html source into hidden text area before submit
	$(".edit_cp").submit( function() {
		console.log("before submit");
		$("#cp_wiki_content").val(editor.innerHTML);
		console.log($("#cp_wiki_content").val());
	});
</script>
<input type="hidden" id="current_user" value=<%= current_user.id %> />
<input type="hidden" id="saved_filename" value="" />
 
<%= link_to '<<返回', cp_path(@cp.id), :class => 'edit_back_button' %>

<script>

// warn user when user leave this page except submitting the form
$('input[name=commit]').click(function() {
  window.submit_button_clicked = true;
});

$(window).bind('beforeunload', function(){
	if(!window.submit_button_clicked){
  	return '确定要离开此创建页面?';
  }
});

</script>










