<%= render(:partial => "create_navbar", :locals => {:step => 3, :step_names => ["输入角色姓名", "填写角色信息", "填写CP信息"]}) %>

<div>
	<% @cp.errors.full_messages.each do |msg| %>
  		<div><span class="error_msg"><%= msg %></span></div>
	<% end %>
	<%=  form_tag("/cps", :id => "newcp", :method => :post) do %>
		<div>
		  <table class="cp">
		  	<tr>

		      <td><%= label_tag(:seme_id, "攻:")%></td>
		      <td><%= @seme.name %></td>
		    </tr>
		    <tr>
		      <td><%= label_tag(:uke_id, "受:")%></td>
		      <td><%= @uke.name %></td>
		    </tr>
		    <tr>
		      <td><%= label_tag(:acronym, "简称:")%></td>
		      <td><%= text_field_tag(:acronym) %></td>
		    </tr>
		    <tr>
		      <td><%= label_tag(:category, "作品类别:")%></td>
	      	<td><%= select_tag(:category, options_for_select(
			   Cp::CATEGORY, 4)) %>
		  </td>
		    </tr>
		    <tr>
		      <td><%= label_tag(:summary, "简介:")%></td>
		      <td><%= text_area_tag(:summary) %></td>
		    </tr>
		  </table>
		</div>

    <div>
		<%= label_tag(:wiki_content, "JQ档案:")%>
		<%= render "shared/editor" %>
	</div>
	<%= hidden_field_tag :wiki_content %>
	<%= hidden_field_tag :relation_type, "0" %>
	<%= submit_tag "提交" %>
	<% end %>
</div>
<input type="hidden" id="current_user" value=<%= current_user.id %> />
<input type="hidden" id="saved_filename" value="" />

<script type="text/javascript">
var editor = $(".edit_area")[0];
myEditor.makeEditor(editor, "");

// Put html source into hidden text area before submit
$("#newcp").submit( function() {
	$("#wiki_content").val(editor.innerHTML);
});

</script>
