<div>
	<%=  form_tag("/cps", :id => "newcp", :method => :post) do %>
		<div>
		  <table class="cp">
		  	<tr>

		      <td><%= label_tag(:seme, "攻:")%></td>
		      <td><%= select_tag(:seme, options_for_select([[@character1.name, @character1.id], [@character2.name, @character2.id]], @character1.id)) %></td>
		    </tr>
		    <tr>
		      <td><%= label_tag(:uke, "受:")%></td>
		      <td><%= select_tag(:uke, options_for_select([[@character1.name, @character1.id], [@character2.name, @character2.id]], @character2.id)) %></td>
		    </tr>
		    <tr>
		      <td><%= label_tag(:acronym, "简称:")%></td>
		      <td><%= text_field_tag(:acronym) %></td>
		    </tr>
		    <tr>
		      <td><%= label_tag(:category, "作品类别:")%></td>
	      	<td><%= select_tag(:category, options_for_select(
			   [['动画', 0], ['漫画', 1], ['电视剧', 2], ['电影', 3],
			   ['小说', 4], ['其他', 5]], 5)) %>
		  </td>
		    </tr>
		    <tr>
		      <td><%= label_tag(:intro, "简介:")%></td>
		      <td><%= text_area_tag(:intro) %></td>
		    </tr>
		  </table>
		</div>

    <div>
		<%= label_tag(:wiki_content, "JQ档案:")%>
		<%= render "shared/editor" %>
	</div>
	<%= hidden_field_tag :wiki_content %>
	<%= hidden_field_tag :relation_type, "0" %>
	<%= submit_tag "提交" %>
	<% end %>
</div>
<script type="text/javascript">
var editor = $(".edit_area")[0];
makeWYSIWYG(editor);

// Put html source into hidden text area before submit
$("#newcp").submit( function() {
	$("#wiki_content").val(editor.innerHTML);
});

// Script to relate two dropdown select boxes: one changes, the other
// should also change
$("#seme").change(function() {
	if (this.value == <%= @character2.id %>) {
		$("#uke").val(<%= @character1.id %>);
	    $("#relation_type").val(1);
	} else {
		$("#uke").val(<%= @character2.id %>);
		$("#relation_type").val(0);
	}
})

$("#uke").change(function() {
	if (this.value == <%= @character2.id %>) {
		$("#seme").val(<%= @character1.id %>);
		$("#relation_type").val(0);
	} else {
		$("#seme").val(<%= @character2.id %>);
		$("#relation_type").val(1);
	}
})
</script>
