<% p "current id is >>>>>>>>>>>>" + @cp.id.to_s %>
<div class="wiki_title">
	<%= @character1.name %>和<%= @character2.name %>的配对
</div>
<div class="wiki_contents">
	<div class="character_basic_info">
		<img src="todo" alt="Placeholder"></img>
		<%= render(:partial => "character_info", :locals => {:character => @character1}) %>
		<%= render(:partial => "character_info", :locals => {:character => @character2}) %>	
	</div>
	<p><%= formatted(@cp.summary) %></p>
	<div class="index">
		<h4 style="text-align: center">目录</h4>
		<ol class="toc">
	    	<li>角色介绍
				<ol>
					<li><%= @character1.name %></li>
					<li><%= @character2.name %></li>
				</ol>
			</li>
			<li>配对介绍</li>
			<li>JQ档案</li>
		</ol>
	</div>
	<p class="subtitle">角色介绍</p>
	<p class="subsubtitle"><%= @character1.name %></p>
	<p><%= formatted(@character1.summary) %></p>
	<p class="subsubtitle"><%= formatted(@character2.name) %></p>
	<p><%= formatted(@character2.summary) %></p>
	<p class="subtitle">配对介绍</p>
	<% for relation in @cp.relations %>
		<p class="subsubtitle"><%= relation.acronym %></p>
		<p><%= formatted(relation.intro) %></p>
	<% end %>
	<p class="subtitle">JQ档案</p>
	<p><%= formatted(@cp.wiki_content) %></p>
</div>

<p class="subtitle">评论</p>
<div id="comments_block">
	<% if @comment_array %>
		<% @comment_array.each do |cmt| %>
			<p>&gt;&gt; <%= cmt.comment_text %> - <%= User.find_by_id(cmt.user_id).email %> [<%= cmt.date_time.strftime("%Y-%m-%d %T") %>]</p>
		<% end %>
	<% end %>

	<div id="new_comment"></div>
</div>


<!-- <div class="comment_box">
	<%=  form_tag("/comments", :method => "post") do %>
	  <table>
	    <tr>
	      <td><%= label_tag(:comment_text, "评论:")%></td>
	      <td><%= text_area_tag(:comment_text) %></td>
			</tr>
	  </table>
  <%= submit_tag "提交GO" %>
<% end %>
</div> -->



<p>添加评论：</p>
<textarea rows="4" cols="50" id="comment_area">
free!
</textarea>

<br/><button type="button" id="submit_new_comment">提交</button>

<script>
$(document).ready(function(){
  $("button").click(function(){
  	var cmt = $('textarea#comment_area').val();
    //$("#new_comment").text(cmt);

    console.log("start ajax");

    // get params[:id]
    var url = window.location.pathname;
    console.log("url is " + url);
		var id = url.substring(url.lastIndexOf('/') + 1);
    console.log("in js id is " + id);

    $.ajax({
	     type: "POST",
	     url: "/comments",
	     dataType: "html",
	     data: "comment_text=" + cmt + "&id=" + id,
	     success: function(){
	     	 $('#new_comment').append('<p>&gt;&gt; ' + cmt + ' - current user' + '</p>');
	     	 //$('#new_comment').append('<div>- ' + cmt + '</div>');
	       	 alert("Data Saved");
	     },
	     error: function(){
	     	 alert("Error post");
	     }
		});

  });
});
 
</script>









