<% p "current id is >>>>>>>>>>>>" + @cp.id.to_s %>

<div class="wiki_title">
	<%= @seme.name %>和<%= @uke.name %>的配对 
	<%= @cp.acronym.empty? ? "" : "(#{@cp.acronym})" %>&nbsp;&nbsp;
	<% if @already_liked %>
		<% if @already_liked == 0 %>
			<a href="javascript:void(0)" id="like_button_a" style="background-color:#CCCCCC;">Moe</a>
		<% else %>
			<a href="javascript:void(0)" id="like_button_a" style="background-color:#FFC0CB;">Moed</a>
		<% end %>
	<% else %>
		<span>只有注册用户才可以开启“萌”功能</span>
	<% end %>
	<span class="edit"><%= link_to '编辑攻', "/characters/#{@seme.id}/edit?fromcp=#{@cp.id}"  %></span>
	<span class="edit"><%= link_to '编辑受', "/characters/#{@uke.id}/edit?fromcp=#{@cp.id}" %></span>
	<span class="edit"><%= link_to '编辑CP', edit_cp_path(@cp) %></span>
</div>

<div class="wiki_contents">
	<div class="character_basic_info">
		<%= render(:partial => "character_info", :locals => {:character => @seme}) %>
		<%= render(:partial => "character_info", :locals => {:character => @uke}) %>	
	</div>
	<p><%= formatted(@cp.summary) %></p>
	<div class="index">
		<h4 style="text-align: center">目录</h4>
		<ol class="toc">
	    	<li>角色介绍
				<ol>
					<li><%= @seme.name %></li>
					<li><%= @uke.name %></li>
				</ol>
			</li>
			<li>JQ档案</li>
		</ol>
	</div>
	<p class="subtitle">角色介绍</p>
	<p class="subsubtitle"><%= @seme.name %></p>
	<p><%= formatted(@seme.summary) %></p>
	<p class="subsubtitle"><%= formatted(@uke.name) %></p>
	<p><%= formatted(@uke.summary) %></p>
	<p class="subtitle">JQ档案</p>
	<p><%= formatted(@cp.wiki_content) %></p>
</div>

<p class="subtitle">评论</p>
<div id="comments_block">
	<% if @comment_array %>
		<% p "comment_array size is >>>>> " + @comment_array.size.to_s %>
		<% @comment_array.each do |cmt| %>
			<p>&gt;&gt; <%= cmt.comment_text %> - <%= User.find_by_id(cmt.user_id).username %> [<%= cmt.date_time.strftime("%Y-%m-%d %T") %>]</p>
		<% end %>
	<% end %>

	<div id="new_comment"></div>
</div>

<div><span class="error_msg" id="comment_error_msg"></span></div>

<script>
function insertCommentBox() {
	$('.homepage_content').append("<p>添加评论：</p>"
		+ "<textarea rows=\"4\" cols=\"50\" id=\"comment_area\">"
	    + "</textarea>"
		+ "<br/><button type=\"button\" id=\"submit_new_comment\">提交</button>");
}
// add new comment
$(document).ready(function(){
  <% if user_signed_in? %>
    insertCommentBox();
  	$("button#submit_new_comment").click(function(){
  		var cmt = $('textarea#comment_area').val();
  		// check whether the comment is empty
  		if(cmt == "") {
  			$("#comment_error_msg").text("评论不能为空！");
  		} else {
  			$("#comment_error_msg").text("");
	    	console.log("start ajax");

	    	var username = '<%= current_user.username %>';
	    	var index = <%= params[:id] %>;
	    	var currentdate = new Date(); 
			var create_time = currentdate.getFullYear() + "-"
	                + ("0" + (currentdate.getMonth() + 1)).slice(-2) + "-" 
	                + ("0" + currentdate.getDate()).slice(-2) + " "  
	                + currentdate.getHours() + ":"  
	                + currentdate.getMinutes() + ":" 
	                + currentdate.getSeconds();
	    	console.log("user id in js is " + username);
	    	console.log("index in js is  " + index);
	    	console.log("create time is " + create_time);

	    	$.ajax({
		     	type: "POST",
		    	url: "/comments",
		     	dataType: "html",
		     	data: "comment_text=" + cmt + "&id=" + index + "&create_time=" + create_time,
		     	success: function(){
		     		$('#new_comment').append('<p>&gt;&gt; ' + cmt + ' - ' + username + ' [' + create_time + ']' + '</p>');
		       	 	alert("Data Saved");
		       	 	$('#comment_area').val("");
		     	},
		     	error: function(){
		     		alert("Error post");
		     	}
			});
		}
  	}); // button.click

  $("a#like_button_a").click(function(){
    var index = <%= params[:id] %>;
    console.log("index in like button is  " + index);
    console.log("post like/dislike to controller");
    console.log($(this).text());
    var like_text = $(this).text();
    $.ajax({
	     type: "POST",
	     url: "/likes",
	     dataType: "html",
	     data: "cp_id=" + index,
	     success: function(){
	     	console.log("in success text is " + like_text);
	     	 //console.log("already liked " + <%= @already_liked %>)
	     	 if(like_text == "Moe") {
	     	   $("a#like_button_a").css('background-color','#FFC0CB');
	     	   //<%= @already_liked = 1 %>
	     	   //$("button#like").text = "已萌"
	     	   console.log("in save like");
	     	   $('a#like_button_a').text('Moed');
	     	   alert("Data Saved, like");
	     	 } else {
	     	 	 $("a#like_button_a").css('background-color','#CCCCCC');
	     	 	 console.log("in save dislike");
	     	 	 $('a#like_button_a').text('Moe');
	     	 	 alert("Data Saved, dislike");
	     	 }
	     },
	     error: function(){
	     	// Customize error info
	     	alert("Something went wrong.");
	     }
	});
  }); // like_button_a.click
<% else %>
	$('.homepage_content').append('<div>只有注册用户才可以开启评论功能</div>');
<% end %>
}); // document.ready

</script>









