<div class="wiki_title">
	<span id="wiki_name_title"><%= @seme.name %><span id="heart"> × </span><%= @uke.name %></span>
	<%= (@cp.acronym == nil || @cp.acronym == "") ? "" : "(#{@cp.acronym})" %>&nbsp;&nbsp;
	<% if @already_liked %>
		<% if @already_liked == 0 %>
			<a href="javascript:void(0)" id="like_button_a" style="background-color:#CCCCCC;">萌</a>
		<% else %>
			<a href="javascript:void(0)" id="like_button_a" style="background-color:#FFC0CB;">已萌</a>
		<% end %>
	<% else %>
		<span>[只有注册用户才可以开启“萌”功能]</span>
	<% end %>
	<span class="edit">[<%= link_to '编辑攻', "/characters/#{@seme.id}/edit?fromcp=#{@cp.id}"  %>]</span>
	<span class="edit">[<%= link_to '编辑受', "/characters/#{@uke.id}/edit?fromcp=#{@cp.id}" %>]</span>
	<span class="edit">[<%= link_to '编辑CP', edit_cp_path(@cp) %>]</span>
</div>

<div class="wiki_contents">
	<div class="character_basic_info">
		<%= render(:partial => "shared/character_info", :locals => {:character => @seme}) %>
		<p class="divide_line"></p>
		<%= render(:partial => "shared/character_info", :locals => {:character => @uke}) %>	
	</div>
	<p><%= formatted(@cp.summary) %></p>
	<div class="index">
		<h4 style="text-align: center">目录</h4>
		<ol class="toc">
	    	<li>角色介绍
				<ol>
					<li><%= @seme.name %></li>
					<li><%= @uke.name %></li>
				</ol>
			</li>
			<li>JQ档案</li>
		</ol>
	</div>
	<p class="subtitle">角色介绍</p>
	<p class="subsubtitle"><%= @seme.name %></p>
	<p><%= formatted(@seme.summary) %></p>
	<p class="subsubtitle"><%= formatted(@uke.name) %></p>
	<p><%= formatted(@uke.summary) %></p>
	<p class="subtitle">JQ档案</p>
	<p><%= formatted(@cp.wiki_content) %></p>
	<div class="related_cps">
		<b>相关CP:</b>&nbsp;&nbsp;
		<% for cp in @related_cps %>
			<%= link_to "#{cp.seme.name} × #{cp.uke.name}", cp_path(cp) %>
			<% if cp != @related_cps.last %>
				&nbsp;|&nbsp;
			<% end %>
		<% end %> 
	</div>
</div>

<p class="subtitle">评论</p>
<div id="comments_block">
	<% if @comment_array %>
		<% p "comment_array size is >>>>> " + @comment_array.size.to_s %>
		<% @comment_array.each do |cmt| %>
			<div class="each_comment wordwrap">&gt;&gt; <%= cmt.comment_text %> - <%= User.find_by_id(cmt.user_id).username %> [<%= cmt.date_time.strftime("%Y-%m-%d %T") %>]</div>
		<% end %>
	<% end %>

	<div id="new_comment"></div>
</div>

<div><span class="error_msg" id="comment_error_msg"></span></div>

<div><span id="comment_result"></span></div>
<p id='add_comment' style='background:#FFFFFF;display:none'>单击图片可添加评论</p>
<script>
// flash error/success msg
(function($) {
  $.fn.flash_message = function(options) {   
    options = $.extend({
      text: 'Done',
      time: 1000,
      how: 'before',
      class_name: ''
    }, options);
    
    return $(this).each(function() {
      if($(this).parent().find('.flash_message').get(0) )
        return;
      
      var message = $('<span />', {
        'class': 'flash_message ' + options.class_name,
        text: options.text
      }).hide().fadeIn('fast');
      
      $(this)[options.how](message);
      
      message.delay(options.time).fadeOut('normal', function() {
        $(this).remove();
      });
      
    });
  };
})(jQuery);

// function insertCommentBox() {
// 	$('.homepage_content').append("<textarea rows=\"4\" cols=\"50\" id=\"comment_area\" placeholder=\"在此添加评论\">"
// 	    + "</textarea>"
// 		+ "<br/><button type=\"button\" id=\"submit_new_comment\">提交</button>");
// }

function insertCommentBox() {
	$('.homepage_content').append("<form name=\"comment_box_form\"><textarea rows=\"4\" cols=\"50\" id=\"comment_area\" placeholder=\"在此添加评论\" name=\"limitedtextarea\" onKeyDown=\"limitText(this.form.limitedtextarea,this.form.countdown,200);\" onKeyUp=\"limitText(this.form.limitedtextarea,this.form.countdown,200);\"></textarea>"
		+ "<br/><button type=\"button\" id=\"submit_new_comment\">提交</button>&nbsp<input readonly class=\"comment_limit_chars\" id=\"limit_chars_countdown\" type=\"text\" name=\"countdown\" size=\"1\" value=\"255\"><input readonly class=\"comment_limit_chars\" type=\"text\" size=\"2\" value=\"/255\"></form>");
}

// add new comment
$(document).ready(function(){
  <% if user_signed_in? %>
    insertCommentBox();
  	$("button#submit_new_comment").click(function(){
  		var cmt = $('textarea#comment_area').val();
  		// check whether the comment is empty
  		if(cmt == "") {
  			$("#comment_error_msg").text("评论不能为空！");
  		} else {
  			$("#comment_error_msg").text("");
	    	console.log("start ajax");

	    	var username = '<%= current_user.username %>';
	    	var index = <%= params[:id] %>;
	    	var currentdate = new Date(); 
			var create_time = currentdate.getFullYear() + "-"
	                + ("0" + (currentdate.getMonth() + 1)).slice(-2) + "-" 
	                + ("0" + currentdate.getDate()).slice(-2) + " "  
	                + currentdate.getHours() + ":"  
	                + currentdate.getMinutes() + ":" 
	                + currentdate.getSeconds();

	    console.log("user id in js is " + username);
	    console.log("index in js is  " + index);
	    console.log("create time is " + create_time);

	    $.ajax({
		    type: "POST",
		    url: "/comments",
		    dataType: "html",
		    data: "comment_text=" + cmt + "&id=" + index + "&create_time=" + create_time,
		    success: function(){
		      $('#new_comment').append('&gt;&gt; ' + cmt + ' - ' + username + ' [' + create_time + ']' + '</br>');
		      // resume chars limit to 255
		      $('input#limit_chars_countdown').val('255');
		      // show success msg
				  $('#comment_result').flash_message({
				    text: '评论成功!',
				    how: 'append',
			        class_name: 'flash_message_success'
				  });
				  // clear the text area after successful submit
				  $('textarea#comment_area').val('');
		     },
		     error: function(){
		     	// show fail msg
		     	 $('#comment_result').flash_message({
				    text: '评论失败!',
				    how: 'append',
			        class_name: 'flash_message_fail'
				   });
				 $('textarea#comment_area').val(cmt);
		     }
			});
	  }
  });

  $("a#like_button_a").click(function(){
    var index = <%= params[:id] %>;
    console.log("index in like button is  " + index);
    console.log("post like/dislike to controller");
    console.log($(this).text());
    var like_text = $(this).text();
    $.ajax({
	     type: "POST",
	     url: "/likes",
	     dataType: "html",
	     data: "cp_id=" + index,
	     success: function(){
	     	console.log("in success text is " + like_text);
	     	 //console.log("already liked " + <%= @already_liked %>)
	     	 if(like_text == "萌") {
	     	   $("a#like_button_a").css('background-color','#FFC0CB');
	     	   //<%= @already_liked = 1 %>
	     	   //$("button#like").text = "已萌"
	     	   console.log("in save like");
	     	   $('a#like_button_a').text('已萌');
	     	   //alert("Data Saved, like");
	     	 } else {
	     	 	 $("a#like_button_a").css('background-color','#CCCCCC');
	     	 	 console.log("in save dislike");
	     	 	 $('a#like_button_a').text('萌');
	     	 	 //alert("Data Saved, dislike");
	     	 }
	     },
	     error: function(){
	     	// Customize error info
	     	//alert("Something went wrong.");
	     }
		});
  }); // like_button_a.click
<% else %>
	$('.homepage_content').append('<div>[只有注册用户才可以开启评论功能]</div>');
<% end %>

}); // document.ready
addCommentButtonToImages();

// limit number of characters in comment box
function limitText(limitField, limitCount, limitNum) {
	if (limitField.value.length > limitNum) {
		limitField.value = limitField.value.substring(0, limitNum);
	} else {
		limitCount.value = limitNum - limitField.value.length;
	}
}
</script>









