<% @title = "用户登录 - CP百科" %>
<p class="subtitle">用户登录</p>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
  <!-- <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div> -->

  <div><%= label_tag '用户名/邮箱'  %><br />
  <%= f.text_field :login %></div>

  <div><%= label_tag '密码' %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= label_tag '记住我' %></div>
  <% end -%>

  <div><%= f.submit "登录" , :class => 'submit_button'%></div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
