<% @title = "添加图片评论 - CP百科" %>
<p class="subtitle show_comments">点击图片添加评论&nbsp;&nbsp;[<a onclick="showAllTags()">显示所有评论</a>]</p>
<div id="photo_div">
	<% if @photo.source == Photo::WEB %>
		<img id="photo" src='<%= @photo.filename %>' class="photo_to_tag"></img>
	<% else %>
		<img id="photo" src='<%= "/images/#{@photo.filename}" %>' class="photo_to_tag"></img>
	<% end %>
	<% for tag in @tags %>
		<div class='tag' style="<%= "left:#{tag.pos_x}px;top:#{tag.pos_y}px;display:none" %>">
			<%= tag.comment %>
		</div>
	<% end %>
</div>

<div id="dialog" title="添加评论">
		<form>
		<input type="text" name="comment" id="comment" class="text ui-widget-content ui-corner-all" />
		<input type="hidden" id="xpos" />
		<input type="hidden" id="ypos" />
		<input type="hidden" id="photo_id" value='<%= @photo.id %>' />
		</form>
</div>
<script>
$('#dialog').dialog({
	autoOpen: false,
	resizable: false,
	height: 200,
	modal: true,
	buttons: {
	"取消": function() {
		$(this).dialog( "close" );
	},
	"提交": function() {
		comment = $("#comment").val();
		xpos = $("#xpos").val();
		ypos = $("#ypos").val();
		$.ajax({
			type: "POST",
			url: "/tags",
			dataType: "html",
			data: "comment=" + comment + "&xpos=" + xpos + "&ypos="
				+ ypos + "&photo_id=" + '<%= @photo.id %>',
			success: function(){
				$('#dialog').dialog("close");
				// Insert tag at correct position
				var newTag = "<div class='tag' style='left:" + xpos + "px;top:" + ypos + "px;'>" 
					+ comment + "</div>";
				// console.log(newTag);
				$("#photo_div").append(newTag);
				$('#comment').val("");
			},
			error: function(){
				alert("Post failed");
				$('#dialog').dialog("close");
			}
		});
	}
	}
});

$('#photo').click(function(e) {
	$('#dialog').dialog("open");
	var photoDiv = $('#photo_div');
	$('#dialog').dialog("option", { position: [e.pageX - $(document).scrollLeft() + 5, e.pageY -$(document).scrollTop() + 5] });
	$('#xpos').val(e.pageX - photoDiv.offset().left);
	$('#ypos').val(e.pageY - photoDiv.offset().top);
});

$("#tagswitch").click(showTags);

function showTags() {
	$('.tag').show();
	$("#tagswitch").click(hideTags);
	$('#tagswitch').html('隐藏所有评论');
}

function hideTags() {
	$('.tag').hide();
	$('#tagswitch').click(showTags);
	$('#tagswitch').html('显示所有评论');
}
</script>