<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="user_nav">
		<div class="nav_bar_flash_center">
			<% flash.each do |name, msg| %>
				<%= content_tag :span, msg, :id => "flash_#{name}", :class => "devise_flash" %>
			<% end %>
		</div>
		<div class="nav_bar_hint_right">
			<% if user_signed_in? %>
				您好! <%= link_to current_user.username, user_infos_path %> 
				[<%= link_to "退出", destroy_user_session_path, :method => :delete %>]
			<% else %>
				[<%= link_to "注册", new_user_registration_path %>] 
				[<%= link_to "登录", new_user_session_path %>]
			<% end %>
		</div>
	</div>

	<div class="content">
	<div class="left_sidebar">
		<a href="/"><img class="logo" src="/cpwiki_logo.png"></img></a>
		<h4><a href="/">主页</a></h4>
		<h4><a href="/cps/choose">创建新CP</a></h4>
		<h4><a href="/characters/choose">创建新角色</a></h4>
		<h4>分类</h4>
			<div class="submenu" id="category_submenu">
				<ul><a href="/categories/0">动漫</a></ul>
				<ul><a href="/categories/1">影视</a></ul>
				<ul><a href="/categories/2">游戏</a></ul>
				<ul><a href="/categories/3">小说</a></ul>
				<ul><a href="/categories/4">其他</a></ul>
			</div>
		<div>&nbsp;</div>
		<h4><a href="/helps">帮助</a></h4>
		<h4><a href="/bug_reports">报错</a></h4>
	</div>
	<div class="right_container">
		<div class="navbar_container">
		<!-- <table class="navbar" cellspacing="0"> -->
		<!-- 	<tr> -->
		<!-- 	<td>Main Page</td>
			<td>Change Language</td>
			<td class="right_most_cell">
				<form action="/home/search" method="get">
					<input id="query" name="query" type="text" placeholder="请输入角色名称或CP简称"></input>
					攻：<input id="seme" name="seme" type="text" display:"none" />
					受：<input id="uke" name="uke" type="text" display:"none" />
					<input type="submit" id="search" value="搜索"></input>
				    <button id="cpmode">切换到CP模式</button>
				</form>
			</td>
			</tr>
		</table> -->
			<!-- <span id="language">中文|English</span> -->
			<span class="right_most_cell">
				<form id="chara-form" action="/home/search" method="get">
					<table class="navbar_container_table"><tr>
						<td><input id="query" class="input_text_field" name="query" type="text" placeholder="角色名称/CP简称"></input></td>
						<td><input type="submit" id="search" value="搜索"></input></td>
					  <td><input type="button" id="cpmode" value="切换到攻受模式"></input></td>
				  </tr></table>
				</form>
				<form id="cp-form" action="/home/search_by_seme_uke" method="get" style="display:none">
					<table class="navbar_container_table"><tr>
						<td><label for="seme">攻:</label></td>
						<td><input id="seme" name="seme" class="input_text_field"></input></td>
						<td><label for="uke">受:</label></td>
						<td><input id="uke" name="uke" class="input_text_field"></input></td>
						<td><input type="submit" id="search" class="button" value="搜索"></input></td>
					  <td><input type="button" id="charamode" value="切换到角色/简称模式"></input></td>
				  </tr></table>
				</form>
			</span>
		</div>

		<div class="homepage_content">
			<%= yield %>
		</div>
	</div>
</div>
<!-- <img id="test" src='http://images.wikia.com/deathnote/images/f/f5/L_fancel_from_death_note_by_escaf.jpg'></img> -->
<script>
// $("#test").mouseenter(function(e) {
// 	alert($("#test").attr("src"));
// })

$("#cpmode").click(function(event) {
	event.preventDefault();
	$('#cp-form').show();
	$('#chara-form').hide();

});

$("#charamode").click(function(event) {
	event.preventDefault();
	$('#chara-form').show();
	$('#cp-form').hide();

});

$('#chara-form').submit(function() {
	return $.trim($('#query').val()) != "";
});

$('#cp-form').submit(function() {
	return $.trim($('#seme').val()) != "" || $.trim($('#uke').val()) != "";
});

</script>
</body>
</html>
